        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'uniteAdministrativeTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'uniteAdministrativeTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'uniteAdministrativeLibelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'uniteAdministrativeLibelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validUniteAdministrativeLibelle}"  />
                                                    <small class='p-error' *ngIf='!validUniteAdministrativeLibelle'>Libelle est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'uniteAdministrativeCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'uniteAdministrativeCode' | translate}}" id="2" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validUniteAdministrativeCode}"  />
                                                    <small class='p-error' *ngIf='!validUniteAdministrativeCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'uniteAdministrativeDescription' | translate}}</label>
                                                    <textarea id="3" pInputTextarea rows="5" cols="30" placeholder="{{'uniteAdministrativeDescription' | translate}}"  [(ngModel)]="item.description"
                                                             ></textarea>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-5">
                                                <label for="5">{{'uniteAdministrativeHopital' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="hopitals" [(ngModel)]="item.hopital" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'uniteAdministrativeHopital' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateHopital('Hopital')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="uniteAdministrativePrestations">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="1">Libelle<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Libelle"
                                                                               id="1" [(ngModel)]="prestationsElement.libelle" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validPrestationsLibelle}"  >
                                                                        <small class='p-error' *ngIf='!validPrestationsLibelle'>Libelle est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="2">Code<span style="color: red;">*</span></label>
                                                                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Code"
                                                                               id="2" [(ngModel)]="prestationsElement.code" autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validPrestationsCode}"  >
                                                                        <small class='p-error' *ngIf='!validPrestationsCode'>Code est obligatoire.</small>
                                                                    </div>
                                                                    <div class="field col-11 md:col-3">
                                                                        <label>Type prestation<span style="color: red;">*</span></label>
                                                                        <p-dropdown  appendTo="body"  [options]="typePrestations" [(ngModel)]="prestationsElement.typePrestation"
                                                                                     id="3"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="libelle"
                                                                                     placeholder="Type prestation"  [ngClass]="{'ng-invalid ng-dirty' : !validPrestationsTypePrestation}" >
                                                                        </p-dropdown>
                                                                        <small class='p-error' *ngIf='!validPrestationsTypePrestation'>TypePrestation est obligatoire.</small>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <label></label>
                                                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTypePrestation('typePrestation')" class="p-button-success one-colonne-btn-success-align"></button>
                                                                    </div>
                                                                    <div class="field col-12 md:col-4">
                                                                        <label for="4">Duree en miniute<span style="color: red;">*</span></label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="dureeEnMiniute" placeholder="Duree en miniute"  [ngClass]="{'ng-invalid ng-dirty' : !validPrestationsDureeEnMiniute}" [(ngModel)]="prestationsElement.dureeEnMiniute"></p-inputNumber>
                                                                        <small class='p-error' *ngIf='!validPrestationsDureeEnMiniute'>DureeEnMiniute est obligatoire.</small>
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addPrestations()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.prestations?.length > 0 ? '(' + item.prestations?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.prestations" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Libelle</th>
                                                                                <th>Code</th>
                                                                                <th>Type prestation</th>
                                                                                <th>Duree en miniute</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.libelle}}</td>
                                                                                <td>{{p.code}}</td>
                                                                            <td>{{p.typePrestation?.libelle}}</td>
                                                                                <td>{{p.dureeEnMiniute}}</td>
                                                                    <td>
                                                                        <button (click)="deletePrestation(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editPrestation(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>

            <app-hopital-create-admin></app-hopital-create-admin>

            <app-type-prestation-create-admin></app-type-prestation-create-admin>

    </p-dialog>
