        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'operateurHoraireTravailleValidationTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'operateurHoraireTravailleValidationTabPan' | translate}}">
                        <div class="grid">


                                    <div class="field col-11 md:col-5">
                                            <label for="1">{{'operateurHoraireTravailleValidationHoraireTravailleValidation' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="horaireTravailleValidations" [(ngModel)]="item.horaireTravailleValidation" id="1"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'operateurHoraireTravailleValidationHoraireTravailleValidation' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateHoraireTravailleValidation('HoraireTravailleValidation')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="2">{{'operateurHoraireTravailleValidationOperateur' | translate}}<span style="color: red;">*</span></label>
                                            <p-dropdown   appendTo="body" [options]="operateurs" [(ngModel)]="item.operateur" id="2"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="cin" placeholder="{{'operateurHoraireTravailleValidationOperateur' | translate}}" [ngClass]="{'ng-invalid ng-dirty' : !validOperateurHoraireTravailleValidationOperateur}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validOperateurHoraireTravailleValidationOperateur'>Operateur est obligatoire.</small>
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateOperateur('Operateur')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'operateurHoraireTravailleValidationHeureDebut' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'operateurHoraireTravailleValidationHeureDebut' | translate}}" id="3" [(ngModel)]="item.heureDebut"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validOperateurHoraireTravailleValidationHeureDebut}"  />
                                            <small class='p-error' *ngIf='!validOperateurHoraireTravailleValidationHeureDebut'>HeureDebut est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="4">{{'operateurHoraireTravailleValidationHeureFin' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'operateurHoraireTravailleValidationHeureFin' | translate}}" id="4" [(ngModel)]="item.heureFin"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validOperateurHoraireTravailleValidationHeureFin}"  />
                                            <small class='p-error' *ngIf='!validOperateurHoraireTravailleValidationHeureFin'>HeureFin est obligatoire.</small>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-horaire-travaille-validation-create-admin></app-horaire-travaille-validation-create-admin>
                    <app-operateur-create-admin></app-operateur-create-admin>


    </p-dialog>
