
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'patientTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'patientTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Ipp' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Ipp' | translate}}" autofocus  id="1" [(ngModel)]="item.ipp">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Adresse' | translate}}</label>
                        <textarea id="2" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Adresse' | translate}}"  [(ngModel)]="item.adresse"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Email' | translate}}" autofocus  id="3" [(ngModel)]="item.email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Cin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Cin' | translate}}" autofocus  id="4" [(ngModel)]="item.cin">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Code ramed' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code ramed' | translate}}" autofocus  id="5" [(ngModel)]="item.codeRamed">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



