        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'operateurTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'operateurTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'operateurCin' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'operateurCin' | translate}}" id="1" [(ngModel)]="item.cin"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validOperateurCin}"  />
                                            <small class='p-error' *ngIf='!validOperateurCin'>Cin est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'operateurDateNaissance' | translate}}</label>
                                            <p-calendar appendTo="body" id="2"   [showTime]="true" [showSeconds]="false" placeholder="{{'operateurDateNaissance' | translate}}"  [(ngModel)]="item.dateNaissance"
                                                      >
                                            </p-calendar>
                                            
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'operateurPassport' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'operateurPassport' | translate}}" id="3" [(ngModel)]="item.passport"
                                                     />
                                            
                                        </div>

                                    <div class="field col-11 md:col-5">
                                            <label for="4">{{'operateurCelluleValidation' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="celluleValidations" [(ngModel)]="item.celluleValidation" id="4"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'operateurCelluleValidation' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCelluleValidation('CelluleValidation')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>




                        </div>
                    </p-tabPanel>
                            <p-tabPanel header="uniteAdministrative">
                                <div class="grid">
                                    <div class="col">
                                        <div class="card">
                                            <p-table [value]="operateurUniteAdministratives" [(selection)]="item.operateurUniteAdministratives" dataKey="uniteAdministrative.libelle" [scrollable]="true" scrollHeight="200px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th>UniteAdministrative</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-p>
                                                    <tr>
                                                        <td><p-tableCheckbox [value]="p" ></p-tableCheckbox></td>
                                                        <td>{{p.uniteAdministrative?.libelle}}</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </p-tabPanel>

                            <p-tabPanel header="operateurOperateurAgendas">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                        <div class="grid">
                                                            <div class="field col-11 md:col-3">
                                                                <label>Agenda<span style="color: red;">*</span></label>
                                                                <p-dropdown appendTo="body" [options]="agendas" [(ngModel)]="operateurAgendasElement.agenda"
                                                                        id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Agenda"  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurAgendasAgenda}" >
                                                                </p-dropdown>
                                                                <small class='p-error' *ngIf='!validOperateurAgendasAgenda'>Agenda est obligatoire.</small>
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateAgenda('Agenda')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="3">Heure debut<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Heure debut"
                                                                       id="3" [(ngModel)]="operateurAgendasElement.heureDebut"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurAgendasHeureDebut}"  >
                                                                <small class='p-error' *ngIf='!validOperateurAgendasHeureDebut'>HeureDebut est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="4">Heure fin<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Heure fin"
                                                                       id="4" [(ngModel)]="operateurAgendasElement.heureFin"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurAgendasHeureFin}"  >
                                                                <small class='p-error' *ngIf='!validOperateurAgendasHeureFin'>HeureFin est obligatoire.</small>
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addOperateurAgendas()"></button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.operateurAgendas?.length > 0 ? '(' + item.operateurAgendas?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.operateurAgendas" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Agenda</th>
                                                                        <th>Heure debut</th>
                                                                        <th>Heure fin</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.agenda?.libelle}}</td>
                                                                        <td>{{p.heureDebut}}</td>
                                                                        <td>{{p.heureFin}}</td>
                                                            <td>
                                                                <button (click)="deleteOperateurAgenda(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editOperateurAgenda(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>
                            <p-tabPanel header="operateurOperateurHoraireTravailleValidations">
                                <p-tabView [(activeIndex)]="activeTab">
                                    <p-tabPanel header="Création">
                                        <div class="grid">
                                                            <div class="field col-11 md:col-3">
                                                                <label>Horaire travaille validation</label>
                                                                <p-dropdown appendTo="body" [options]="horaireTravailleValidations" [(ngModel)]="operateurHoraireTravailleValidationsElement.horaireTravailleValidation"
                                                                        id="1"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Horaire travaille validation"  >
                                                                </p-dropdown>
                                                                
                                                            </div>
                                                            <div class="col-1">
                                                                <label></label>
                                                                <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateHoraireTravailleValidation('HoraireTravailleValidation')"  class="p-button-success one-colonne-btn-success-align"></button>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="3">Heure debut<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Heure debut"
                                                                       id="3" [(ngModel)]="operateurHoraireTravailleValidationsElement.heureDebut"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurHoraireTravailleValidationsHeureDebut}"  >
                                                                <small class='p-error' *ngIf='!validOperateurHoraireTravailleValidationsHeureDebut'>HeureDebut est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-4">
                                                                <label for="4">Heure fin<span style="color: red;">*</span></label>
                                                                <input appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="Heure fin"
                                                                       id="4" [(ngModel)]="operateurHoraireTravailleValidationsElement.heureFin"
                                                                       autofocus  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurHoraireTravailleValidationsHeureFin}"  >
                                                                <small class='p-error' *ngIf='!validOperateurHoraireTravailleValidationsHeureFin'>HeureFin est obligatoire.</small>
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addOperateurHoraireTravailleValidations()"></button>
                                                </div>
                                        </div>
                                    </p-tabPanel>
                                    <p-tabPanel header="Liste {{item.operateurHoraireTravailleValidations?.length > 0 ? '(' + item.operateurHoraireTravailleValidations?.length + ')' : ''}}">
                                            <div class="card">
                                                <p-table [value]="item.operateurHoraireTravailleValidations" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Horaire travaille validation</th>
                                                                        <th>Heure debut</th>
                                                                        <th>Heure fin</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.horaireTravailleValidation?.libelle}}</td>
                                                                        <td>{{p.heureDebut}}</td>
                                                                        <td>{{p.heureFin}}</td>
                                                            <td>
                                                                <button (click)="deleteOperateurHoraireTravailleValidation(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editOperateurHoraireTravailleValidation(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                    </p-tabPanel>
                                </p-tabView>
                            </p-tabPanel>
                            <p-tabPanel header="operateurOperateurQuotas">
                                        <div class="grid">
                                            <div class="col">
                                                            <div class="field col-11 md:col-5">
                                                                <label>Prestation<span style="color: red;">*</span></label>
                                                                <p-dropdown appendTo="body" [options]="prestations" [(ngModel)]="operateurQuotasElement.prestation"
                                                                        id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true"
                                                                        optionLabel="libelle" placeholder="Prestation"  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurQuotasPrestation}" >
                                                                </p-dropdown>
                                                                <small class='p-error' *ngIf='!validOperateurQuotasPrestation'>Prestation est obligatoire.</small>
                                                            </div>
                                                            <div class="field col-12 md:col-6">
                                                                <label for="3">Nombre max rdv<span style="color: red;">*</span></label>
                                                                <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="nombreMaxRdv" [(ngModel)]="operateurQuotasElement.nombreMaxRdv" placeholder="Nombre max rdv"  [ngClass]="{'ng-invalid ng-dirty' : !validOperateurQuotasNombreMaxRdv}" ></p-inputNumber>
                                                                <small class='p-error' *ngIf='!validOperateurQuotasNombreMaxRdv'>NombreMaxRdv est obligatoire.</small>
                                                            </div>
                                                <div class="field col-12 md:col-1">
                                                    <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addOperateurQuotas()"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <p-table [value]="item.operateurQuotas" [scrollable]="true" scrollHeight="200px">
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                                        <th>Prestation</th>
                                                                        <th>Nombre max rdv</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-p>
                                                        <tr>
                                                                    <td>{{p.prestation?.libelle}}</td>
                                                                        <td>{{p.nombreMaxRdv}}</td>
                                                            <td>
                                                                <button (click)="deleteOperateurQuota(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                <button (click)="editOperateurQuota(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>
                            </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-cellule-validation-create-admin></app-cellule-validation-create-admin>

                            <app-agenda-create-admin></app-agenda-create-admin>
                            <app-horaire-travaille-validation-create-admin></app-horaire-travaille-validation-create-admin>

    </p-dialog>
