
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'horaireTravailleValidationTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'horaireTravailleValidationTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Libelle' | translate}}" autofocus  id="1" [(ngModel)]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Days of week' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Days of week' | translate}}" autofocus  id="2" [(ngModel)]="item.daysOfWeek">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Month' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Month' | translate}}" autofocus  id="3" [(ngModel)]="item.month">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Heure debut' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Heure debut' | translate}}" autofocus  id="4" [(ngModel)]="item.heureDebut">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'Heure fin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Heure fin' | translate}}" autofocus  id="5" [(ngModel)]="item.heureFin">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



