
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'operateurQuotaTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'operateurQuotaTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Operateur' | translate}}</label>
                        <p-dropdown [options]="operateurs" [(ngModel)]="item.operateur" id="1" [disabled]="true" optionLabel="cin" placeholder="{{'Operateur' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Prestation' | translate}}</label>
                        <p-dropdown [options]="prestations" [(ngModel)]="item.prestation" id="2" [disabled]="true" optionLabel="libelle" placeholder="{{'Prestation' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Nombre max rdv' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'Nombre max rdv' | translate}}" [(ngModel)]="item.nombreMaxRdv"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



