        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'horaireTravailleValidationTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'horaireTravailleValidationTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'horaireTravailleValidationLibelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'horaireTravailleValidationLibelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validHoraireTravailleValidationLibelle}"  />
                                                    <small class='p-error' *ngIf='!validHoraireTravailleValidationLibelle'>Libelle est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'horaireTravailleValidationDaysOfWeek' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'horaireTravailleValidationDaysOfWeek' | translate}}" id="2" [(ngModel)]="item.daysOfWeek"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validHoraireTravailleValidationDaysOfWeek}"  />
                                                    <small class='p-error' *ngIf='!validHoraireTravailleValidationDaysOfWeek'>DaysOfWeek est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'horaireTravailleValidationMonth' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'horaireTravailleValidationMonth' | translate}}" id="3" [(ngModel)]="item.month"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validHoraireTravailleValidationMonth}"  />
                                                    <small class='p-error' *ngIf='!validHoraireTravailleValidationMonth'>Month est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'horaireTravailleValidationHeureDebut' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'horaireTravailleValidationHeureDebut' | translate}}" id="4" [(ngModel)]="item.heureDebut"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'horaireTravailleValidationHeureFin' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'horaireTravailleValidationHeureFin' | translate}}" id="5" [(ngModel)]="item.heureFin"
                                                             />
                                                    
                                                </div>



                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
